spring:
  application:
    name: platform
  datasource:
    url: jdbc:postgresql://${DATABASE_HOST:localhost}:${DATABASE_PORT:6432}/${DATABASE_NAME:platform}?prepareThreshold=0&currentSchema=${DATABASE_SCHEME:s283945}
    driver-class-name: org.postgresql.Driver
    username: ${DATABASE_USER:platform}
    password: ${DATABASE_PASSWORD:password}
  flyway:
    default-schema: ${DATABASE_SCHEME:s283945}
server:
  port: ${SERVER_PORT:9998}

jwt:
  secret: ${JWT_SECRET:oooCHINAZESoooCHINAZESoooCHINAZESoooCHINAZESoooCHINAZESoooCHINAZES}

cron:
  distribute-person: ${DISTRIBUTE_PERSON_CRON:0 0 0 1 * *} # каждый месяц